body {
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.section1 {
  background: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 10px 200px 70px;

}

.header,
.headcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

img {
  width: auto;
  height: 230px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

a,
.text {
  color: #8c8d91;
  font-size: 18px;
  text-decoration: none;
}

.headcontent .text {
  width: 450px;
  margin-bottom: 10px;
}

.title.head {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 400px;
}

button.signup {
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background: #3882F6;
  color: white;

}

.section2 {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.title.sub {
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
  margin: 0px;
  padding: 50px 0px 50px 0px
}

.container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.box {
  background: white;
  border-radius: 8px;
  border: 4px solid #3882F6;
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}

.item .text {
  width: 160px;
  margin-bottom: 100px;
}

.section3 {
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 350px;

}

.quote {
  font-size: 36px;
  font-weight: lighter;
  color: #545d68;
  margin-bottom: 20px;
}

.author {
  margin-left: 500px;
  color: #1F2937;
  font-weight: bolder;
  font-size: 20px;
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 200px;

}

.section4 .container {
  display: flex;
  width: 1200px;
  height: 150px;
  background: #3882F6;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  border-radius: 12px;
}

.title.end {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.section4 .text {
  color: rgb(218, 214, 214)
}

.section4 button.signup {
  border: 2px solid white;
}

.footer {
  height: 100px;
  background: #1F2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}